# Core app
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-in-local-dev

# Postgres
DATABASE_URL=postgresql://silkstudy:silkstudy@localhost:5432/silkstudy?schema=public
POSTGRES_DB=silkstudy
POSTGRES_USER=silkstudy
POSTGRES_PASSWORD=silkstudy

# Google OAuth
# Create credentials at https://console.cloud.google.com/
# Authorized redirect URI: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=919915533729-chofhglpeq75o881hiu9sh09i535ec3b.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=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


# Storage
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET_NAME=silkstudy-documents
S3_REGION=us-east-1

# App
APP_ENV=development
